* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.bg-gray-100 {
  background-color: #f7fafc;
}
